<h1>Login here</h1>

<h5 class="error">
  <%= errorMessage %>
</h5>

<form action="/login" method="post">

  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

  <div class="field">
    <label for="field--email">Email</label>
    <input type="email" name="email" id="field--email">
  </div>

  <div class="field">
    <label for="field--password">Password</label>
    <input type="password" name="password" id="field--password">
  </div>

  <button type="submit">Submit</button>

</form>

<h2>
  <a href="/register">Register</a>
</h2>
