<h1>Register here</h1>

<form action="/register" method="post">

  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

  <div class="field">
    <label for="field--first">First Name</label>
    <input required type="text" name="first" id="field--first">
  </div>

  <div class="field">
    <label for="field--last">Last Name</label>
    <input required type="text" name="last" id="field--last">
  </div>

  <div class="field">
    <label for="field--email">Email</label>
    <input required type="email" name="email" id="field--email">
  </div>

  <div class="field">
    <label for="field--password">Password</label>
    <input required type="password" name="password" id="field--password">
  </div>

  <div class="field">
    <label for="field--confirm-password">Confirm Password</label>
    <input required type="password" name="confirmPassword" id="field--confirm-password">
  </div>

  <button type="submit">Submit</button>

</form>

<h2>
  <a href="/login">Login</a>
</h2>
