h1 {
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  .field {
    margin: 1em;
  }

  .field label {
    display: block;
  }

  form button {
    background-color: transparent;
    padding: .3em;
    font-size: 1em;
    border: 2px solid blue;
    color: blue;
    border-radius: 10px;
  }


a {
  display: block;
  margin: 1em;
  text-decoration: overline;
}
